
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-rili:before { content: "\d600"; }
.icon-location:before { content: "\d604"; }
.icon-yychaoshi:before { content: "\d609"; }
.icon-del:before { content: "\d605"; }
.icon-star:before { content: "\d606"; }
.icon-shibai:before { content: "\d601"; }
.icon-lishijilu:before { content: "\d607"; }
.icon-daohang:before { content: "\d608"; }
.icon-geren:before { content: "\d603"; }
.icon-yueshibai:before { content: "\d610"; }
.icon-wujieguo:before { content: "\d627"; }
.icon-guanbi:before { content: "\d611"; }
.icon-qiehuan:before { content: "\d613"; }
.icon-shibai1:before { content: "\d612"; }
.icon-yiyuan:before { content: "\d619"; }
.icon-xingbie:before { content: "\d615"; }
.icon-yisheng:before { content: "\d616"; }
.icon-yiguanzhu:before { content: "\d617"; }
.icon-zhengjianleixing:before { content: "\d618"; }
.icon-chushengnianyue:before { content: "\d614"; }
.icon-dangqianweizhi:before { content: "\d620"; }
.icon-guanbi2:before { content: "\d621"; }
.icon-haoyuan:before { content: "\d622"; }
.icon-jiuzhenren:before { content: "\d623"; }
.icon-weiguanzhu:before { content: "\d624"; }
.icon-yiwen:before { content: "\d625"; }
.icon-yuyuejilu:before { content: "\d626"; }
.icon-chenggong:before { content: "\d602"; }
