
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiantouyou:before { content: "\e601"; }
.icon-yiyuan:before { content: "\d620"; }
.icon-kou:before { content: "\d600"; }
.icon-houlong:before { content: "\d601"; }
.icon-quanshen:before { content: "\d602"; }
.icon-beibu:before { content: "\d604"; }
.icon-tunbu:before { content: "\d605"; }
.icon-nanshengzhi:before { content: "\d606"; }
.icon-nvshengzhi:before { content: "\d607"; }
.icon-other:before { content: "\d608"; }
.icon-xiazhi:before { content: "\d609"; }
.icon-shangzhi:before { content: "\d60a"; }
.icon-nao:before { content: "\d60b"; }
.icon-mian:before { content: "\d60d"; }
.icon-er:before { content: "\d60f"; }
.icon-pifu:before { content: "\d610"; }
.icon-jirou:before { content: "\d611"; }
.icon-guge:before { content: "\d612"; }
.icon-fubu:before { content: "\d614"; }
.icon-arrowdown:before { content: "\d603"; }
.icon-yaoxiang:before { content: "\d613"; }
.icon-arrowup:before { content: "\d61b"; }
.icon-bi:before { content: "\d60c"; }
.icon-nvxiongbu:before { content: "\d60e"; }
.icon-shou:before { content: "\d615"; }
.icon-xinli:before { content: "\d616"; }
.icon-yan:before { content: "\d617"; }
.icon-yaobu:before { content: "\d618"; }
.icon-ertongshengzhi:before { content: "\d619"; }
.icon-zubu:before { content: "\d61a"; }
.icon-nanxiongbu:before { content: "\e600"; }
